<h4>Select an entry to edit</h4> 
<form method="post" enctype="multipart/form-data" action="" name="news_update_main">
	<input type="text" class="form-control" name="issue"  placeholder="issue no. eg- June 2015"><br>
    <input type="radio" id="rad1" name='img-link' checked>Use Link&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="radio" id="rad2" name='file'>Upload New Document {pdf only} 
    <input type="text" class="form-control" id="img-link" name="img" placeholder="link to src eg /upload/myFile.pdf">
    <input type="file" class="form-control" id="img-file" name="upload" accept="application/pdf"><br>
    <button type="submit" class="btn btn-success btn-block" >Submit </button>
</form>
<form method="post" action="" name="news_update_delete_entry">
	<button type="submit" class="btn btn-danger btn-block">
		Delete Permanently
	</button>
</form>


<script type="text/javascript">
jQuery(document).ready(function($){
	$('#img-file').hide();
    $('input[type=radio]').click(function(){
    	radid = this.id;
       if (this.id == 'rad1') {
    	$('#img-link').show();
    	$('#img-file').hide();
    } else{
    	$('#img-link').hide();
    	$('#img-file').show();
    };
    });
});
</script>