.head{
	text-align: center;
	vertical-align: middle;
	background-color: #e3ce75;
	color: #f9f9f9;
	font-family: 'Garamond';
	margin-bottom: 5%;
}
.card{
	background: #e6e6e6; 
	box-shadow: 0 2px 5px rgba(0,0,0,0.75);
	padding: 20px;
	height : 100px;
	overflow: auto;
	padding:2%;
}

.card span{
	font-family: monospace;
	color: #3d4246;
}

a:hover { 
	text-decoration: none; 
} 
.from {
	font-size: 16px;
	margin-right: 5%;  
	 
}