body{
	background-color: #eeeeee;
	font-family: monospace;
}
.head{
	text-align: center;
	padding: 0.5% 0 0.5%;
	vertical-align: middle;
	background-color: #33BBEE;
	color: #fff;
	margin-bottom: 1%;
}
.card{
	background: #fff; 
	box-shadow: 0 2px 5px rgba(0,0,0,0.75);
	padding: 5px; 
}
.mem{
  
   margin-bottom: 0.5%;
}
.person{
	border: 2px solid #eeeeee;
	padding: 15px;
}
.person a{
	text-decoration: none;
}
.person a span{
font-size: 1.5em;
top: 10px;
left:-20px;
overflow: hidden;
text-overflow:elipses;
}
.person a img{
	width: 50px;
	height: 50px;
}