<a class="btn btn-primary btn-lg " href="./../" role="button" style='{padding-left: 0px;}'>Home</a>
<br>&nbsp;

<div class="row msg" ng-repeat="msg in announcements">
  <a href="#/fullView/{{$index}}">
  	<div>
  		<span class="from col-lg-3 col-xs-12 col-md-3 col-sm-12">{{ msg.from }}</span>
  		<span class="subject col-lg-6 col-xs-12 col-md-6 col-sm-12">{{ msg.title }}</span>
  		<span class="date col-lg-3 col-xs-12 col-md-3 col-sm-12">{{ msg.datetime | date }}</span>
  	</div>
  </a>
</div>