@font-face {
    font-family: dottedFont;
    src: url(fonts/Clubland.ttf);
}
@font-face {
    font-family: atom;
    src: url(fonts/ATOMICCLOCKRADIO.TTF);
}
.dotted{
    font-family: dottedFont;
}
.container-fluid{
    padding-left:0;
    padding-right:0;
}
#zairzaLogo{
    font-family: atom;
    color: #27a7df;
    float : right;
    padding-top: 2% ;
    padding-right: 5%;
    font-size: 50px;
}
#zairzaLogo:hover{
    text-decoration: none;
}
#navblue{
    color:#27a7df;
    padding-left:9.5%;
}
#headNavbar{
    padding-left:8.5%;
}
.wh{
    color:#fff;
}
.blankSpace{
    width:10%;
}
#navbar1{
    margin:0px;
    border:hidden;
    border-radius:0;
    box-shadow:none;
}
#bodyContainer{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #00abec;
}
.mainInnerDiv{
    padding:1%;
}
a.darken {
    display: inline-block;
    background: black;
    padding: 0;
}

a.darken img {
    display: block;

    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

a.darken:hover img {
    opacity: 0.7;

}

#topbar{
    clear:both;
    padding-top:0px;
    padding-left:1%;
    padding-right:1%;
}
#statusBar{
    background-color:#9999ff;
    padding:15px 7px 15px 4px;
    margin-bottom:0px;
}
#warningBar{
    padding:10px 7px 10px 4px;
    margin-bottom:0;
    background-color:#dff0d8;
}
#hackbar{
    padding:10px 7px 10px 4px;
    margin-bottom:0;
    background-color:#d9edf7;
}
#suggestionBar{
    padding:10px 7px 10px 4px;
    margin-bottom:0;
    background-color:#f2dede;
}
.barText{
    font-family:sans-serif;
}

#statusText{
    color:#fff;
}

#create{
    float:right;
    color:#fff;
}
#create:hover{
    cursor:pointer;
}
#mainbody{
   width:885px;
    max-width:886px;
    border:none;
}
.bs-docs-sidebar{
position:fixed;
}
div.barText{
    display: inline;
}
#hackText{
    color:#7a708f;
    font-style:italic;
}
#warningText{
    color:#928c55;
    font-style:italic;
}
#suggestionText{
    color:#a94442;
    font-style:italic;
}
#uploadToServer{
    display: inline;
    float: right;
    color:#fff;
}
#uploadToServer:hover{
    cursor:pointer;
}
.frclose{
    float:right;
    cursor:pointer;
}
.edit:hover{
    border:1px solid blue;
}
.AR{
    border:1px solid black;
    margin-top:1em;
    padding-top:2em;
    padding-bottom:2em;
}

div.dropdown{
    display: inline;
}
.dept{
    padding:3px 20px 3px 20px;
    color: #000;
    background-color:#f5f6f7;
}
.dept:hover{
    background-color: #d7dbdf;
    cursor: pointer;
}
.dropdown-header{
    background-color: #272822;
    color: #f5f6f7;
}
textarea{
border:none;
width:100%;
}
