<!doctype html>
<html>
	<head>
		<title>People</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../shared/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body ng-app='peopleApp'>
	<div class='head'>
		<h2>WE ARE ZAIRZA !</h2>
		<br>
		<h4>---------------------------- Meet the Team ----------------------------</h4>
	</div> 
		<div class="container">
			<div class="row">
				<div><h4>
					<a href="../">
					<span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
					<a href="/admin/">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
					<a href="/admin/">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
					<input ng-model="results" placeholder='filter..'></label>
					<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					</h4>
				</div>				
			</div>
			<div class="row" ng-controller='HomeController'>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 card">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mem" ng-repeat='member in members | orderBy : "name" |filter:results'>
							<div class='person'>
								<a ng-href="{{member.link}}">
									<span class='col-xs-9'>{{member.name}}</span>
									<img ng-src="{{member.img}}" alt="img" class="img-circle">
								</a>
							</div>
						</div>
					</div>					
				</div>
			</div> 
		</div>

		<script type="text/javascript" src="./../shared/js/angular.min.js"></script>
		<script type="text/javascript" src="js/ngApp.js"></script>

 	</body>
</html>