<style type="text/css">
.main_container{
    padding-top: 10%;
    background-image: url("./images/golden_ratio.png");
    width:100%;
    padding-bottom: 6%;
}
#searchform{
    padding: 2% 0 4% 0;
}
#moreContent{
    text-align: center;
}
#moreContent a{
     color: #fff;
     text-decoration: none;
     font-size: 50px;
}

</style>
   <!-- top container showing searrch and blocks -->
<div class = "col-lg-10 main_container" id='bodycontainer'>
    <form class="form-inline col-lg-6 col-lg-offset-3" id = "searchform" method="GET">
            <input type="text" class="form-control" id="search" placeholder="Search our Tutorial Database" size="70%">
            <button type="submit" class="form-control" size="30%" ng-click="submitData()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </form>
    <div class='container'>
        <div class='row' id="mainOuterRow">
            <div class='col-lg-12'>
                <div class='row'>
                    <div class='col-lg-2 col-md-2 col-sm-4 col-xs-3 mainInnerDiv'>
                        <div>
                            <a href="/tutorials/#/index/#robotics" class='darken'>
                                <img class="img-responsive" src="images/robotics.png">
                            </a>
                        </div>
                    </div>
                    <div class='col-lg-2 col-md-2 col-sm-4 col-xs-3 mainInnerDiv'>
                        <div>
                            <a href="/tutorials/#/index/#software" class='darken'>
                                <img class="img-responsive" src="images/software.png">
                            </a>
                        </div>
                    </div>
                    <div class='col-lg-2 col-md-2 col-sm-4 col-xs-3 mainInnerDiv'>
                        <div>
                            <a href="/tutorials/#/index/#automobile" class='darken'>
                                <img class="img-responsive" src="images/automobile.png">
                            </a>
                        </div>
                    </div>
                    <div class='col-lg-2 col-md-2 col-sm-4 col-xs-3 mainInnerDiv'>
                        <div>
                            <a href="/projects/#onging" class='darken'>
                                <img class="img-responsive" src="images/ongoing.png">
                            </a>
                        </div>
                    </div>
                    <div class='col-lg-2 col-md-2 col-sm-4 col-xs-3 mainInnerDiv'>
                        <div>
                            <a href="/projects/" class='darken'>
                                <img class="img-responsive" src="images/projects.png">
                            </a>
                        </div>
                    </div>
                    <div class='col-lg-2 col-md-2 col-sm-4 col-xs-3 mainInnerDiv'>
                        <div>
                            <a href="/events/" class='darken'>
                                <img class="img-responsive" src="images/event.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div id="moreContent">
        <a href="/tutorials/#/index/#robotics">&nbsp;<span class="glyphicon glyphicon-collapse-down" aria-hidden="true">&nbsp;</a>
    </div>
</div>

    <!--robotics header-->
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-12' id='robotics'>
                <div class='jumbotron'>
                    <h1 class="dotted">Robotics</h1>
                    <hr>
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="/tutorials/#/index/#manual">Manual</a></li>
                        <li role="presentation"><a href="/tutorials/#/index/#avr">AVR</a></li>
                        <li role="presentation"><a href="/tutorials/#/index/#arduino">Arduino</a></li>
                        <li role="presentation"><a href="/tutorials/#/index/#elec">Electronics</a></li>
                        <li role="presentation"><a href="/tutorials/#/index/#misc">Miscellaneous</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--robotics body-->
    <div class='container'>
        <div class='row'>        
            <div class='col-lg-12' id='manual'>
                <div class="page-header">
                    <h1><small>Manual</small></h1>
                </div>
                <div ng-repeat="item in getJournal('manual')">
                    <a ng-href="/tutorials/#/display/{{item.fileid}}">
                        <h4>{{item.title|htmlToPlaintext|htmlToPlaintext}}
                        <cite class="cite">by {{item.contributers|htmlToPlaintext}}</cite></h4>
                    </a>
                </div>
            </div>
            <div class='col-lg-12' id='avr'>
                <div class="page-header">
                    <h1><small>Avr</small></h1>
                </div>
                <div ng-repeat="item in getJournal('avr')">
                    <a ng-href="/tutorials/#/display/{{item.fileid}}">
                        <h4>{{item.title|htmlToPlaintext}}
                        <cite class="cite">by {{item.contributers|htmlToPlaintext}}</cite></h4>
                    </a>
                </div>
            </div>
            <div class='col-lg-12' id='arduino'>
                <div class="page-header">
                    <h1><small>Arduino</small></h1>
                </div>
                <div ng-repeat="item in getJournal('arduino')">
                    <a ng-href="/tutorials/#/display/{{item.fileid}}">
                        <h4>{{item.title|htmlToPlaintext}}
                        <cite class="cite">by {{item.contributers|htmlToPlaintext}}</cite></h4>
                    </a>
                </div>
            </div>
            <div class='col-lg-12' id='elec'>
                <div class="page-header">
                    <h1><small>Electronics</small></h1>
                </div>
                <div ng-repeat="item in getJournal('electronics')">
                    <a ng-href="/tutorials/#/display/{{item.fileid}}">
                        <h4>{{item.title|htmlToPlaintext}}
                        <cite class="cite">by {{item.contributers|htmlToPlaintext}}</cite></h4>
                    </a>
                </div>
            </div>
            <div class='col-lg-12' id='misc'>
                <div class="page-header">
                    <h1><small>Miscellaneous</small></h1>
                </div>
                <div ng-repeat="item in getJournal('misc_robotics')">
                    <a ng-href="/tutorials/#/display/{{item.fileid}}">
                        <h4>{{item.title|htmlToPlaintext}}
                        <cite class="cite">by {{item.contributers|htmlToPlaintext}}</cite></h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--software header-->
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-12' id='software'>
                <div class='jumbotron'>
                    <h1 class="dotted">Software</h1>
                    <hr>
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="/tutorials/#/index/#web">Web Development</a></li>
                        <li role="presentation"><a href="/tutorials/#/index/#lang">Languages</a></li>
                        <li role="presentation"><a href="/tutorials/#/index/#standalone">Standalone Apps</a></li>
                        <li role="presentation"><a href="/tutorials/#/index/#else">Everything Else</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- software body -->
    <div class='container'>
        <div class='row'>        
            <div class='col-lg-12' id='web'>
                <div class="page-header">
                    <h1><small>Web Development</small></h1>
                </div>
                <div ng-repeat="item in getJournal('web')">
                    <a ng-href="/tutorials/#/display/{{item.fileid}}">
                        <h4>{{item.title|htmlToPlaintext}}
                        <cite class="cite">by {{item.contributers|htmlToPlaintext}}</cite></h4>
                    </a>
                </div>
            </div>
            <div class='col-lg-12' id='lang'>
                <div class="page-header">
                    <h1><small>Languages</small></h1>
                </div>
                <div ng-repeat="item in getJournal('lang')">
                    <a ng-href="/tutorials/#/display/{{item.fileid}}">
                        <h4>{{item.title|htmlToPlaintext}}
                        <cite class="cite">by {{item.contributers|htmlToPlaintext}}</cite></h4>
                    </a>
                </div>
            </div>
            <div class='col-lg-12' id='standalone'>
                <div class="page-header">
                    <h1><small>Standalone</small></h1>
                </div>
                <div ng-repeat="item in getJournal('standalone')">
                    <a ng-href="/tutorials/#/display/{{item.fileid}}">
                        <h4>{{item.title|htmlToPlaintext}}
                        <cite class="cite">by {{item.contributers|htmlToPlaintext}}</cite></h4>
                    </a>
                </div>
            </div>
            <div class='col-lg-12' id='else'>
                <div class="page-header">
                    <h1><small>Everything Else</small></h1>
                </div>
                <div ng-repeat="item in getJournal('misc_software')">
                    <a ng-href="/tutorials/#/display/{{item.fileid}}">
                        <h4>{{item.title|htmlToPlaintext}}
                        <cite class="cite">by {{item.contributers|htmlToPlaintext}}</cite></h4>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Automobile header-->
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-12' id='automobile'>
                <div class='jumbotron'>
                    <h1 class="dotted">Automobile</h1>
                    <hr>
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="/tutorials/#/index/#sae">SAE</a></li>
                        <li role="presentation"><a href="/tutorials/#/index/#asme">ASME</a></li>
                        <li role="presentation"><a href="/tutorials/#/index/#Amisc">Miscellaneous</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Automobile body -->
    <div class='container'>
        <div class='row'>        
            <div class='col-lg-12' id='sae'>
                <div class="page-header">
                    <h1><small>SAE</small></h1>
                </div>
                <div ng-repeat="item in getJournal('sae')">
                    <a ng-href="/tutorials/#/display/{{item.fileid}}">
                        <h4>{{item.title|htmlToPlaintext}}
                        <cite class="cite">by {{item.contributers|htmlToPlaintext}}</cite></h4>
                    </a>
                </div>
            </div>
            <div class='col-lg-12' id='asme'>
                <div class="page-header">
                    <h1><small>ASME</small></h1>
                </div>
                <div ng-repeat="item in getJournal('asme')">
                    <a ng-href="/tutorials/#/display/{{item.fileid}}">
                        <h4>{{item.title|htmlToPlaintext}}
                        <cite class="cite">by {{item.contributers|htmlToPlaintext}}</cite></h4>
                    </a>
                </div>
            </div>
            <div class='col-lg-12' id='Amisc'>
                <div class="page-header">
                    <h1><small>Miscellaneous</small></h1>
                </div>
                <div ng-repeat="item in getJournal('misc_automobile')">
                    <a ng-href="/tutorials/#/display/{{item.fileid}}">
                        <h4>{{item.title|htmlToPlaintext}}
                        <cite class="cite">by {{item.contributers|htmlToPlaintext}}</cite></h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
