<!--Main tag page starts-->
<div id="main" class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-lg-offset-2 AR">
                <!--Editor title-->
            <table class="table table-striped">
                <tr>
                    <th><div ><h4>Search results matching "{{tag}}"</h4></div></th>
                </tr>
                <tr ng-repeat="page in pageMatch">
                    <td>
                        <a ng-href="/tutorials/#/display/{{page.fileid}}">
                            <div id = "sTitle">
                            <strong>{{page.title|htmlToPlaintext}}</strong>
                            </div>
                        </a>
                        <div>
                            <small>contributers - {{page.contributers|htmlToPlaintext}}</small>
                        </div>
                        <div>
                            {{page.mainbody|htmlToPlaintext|previewText}}
                        </div> 
                    </td>
                </tr>
            </table>
        </div> 
    </div>
</div>
